.single-movie-page{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.go-back{
    user-select: none;
    cursor:pointer;
    margin:20px 15px 5px;
    padding-left:25px;
    background-image: url("../../images/back-arrow.png");
    background-size:20px;
    background-repeat: no-repeat;
    background-position: 3px;
}
