.single-movie-description{
    display:flex;
    flex-direction: row;
    margin:10px auto;
    padding:20px 0;
    box-shadow:1px 1px 8px #999;
    background:#FFC107;
    width:98%;
}
.image{
    width:20%;
    min-width:20%;
    margin:0 20px;
}
.image img{
    width:100%;
}
.property-row.title{
    font-family: 'Lato', sans-serif;
    font-size:1.5rem;
    font-weight: bold;
    margin-bottom:15px;
}
.property-row{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size:1.2rem;
    margin-left:20px;
    margin-bottom:5px;
}
.property-row:not(.title) .movie-property{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    margin-right:4px;
}