@media all and (max-width: 1199px) {

}
@media all and (max-width: 991px) {

}
@media all and (max-width: 768px) {

    .single-movie{
        width:42%;
    }
}
@media all and (max-width: 575px) {
    .single-movie {
        width: 38%;
    }

    .single-movie .movie-poster {
        height:150px;
    }
}
@media all and (max-width: 355px) {
    .single-movie{
        width:90%;
    }
}
