.single-movie{
    user-select: none;
    width:27%;
    box-shadow:1px 1px 7px #888;
    background:#FFC107;
    margin:15px 10px;
    padding:10px;
    text-align: center;
    transition:box-shadow .3s ease-in-out;
    font-family: 'Oswald', sans-serif;
}
.single-movie:hover{
    cursor: pointer;
    background:#FFC107DD;
    box-shadow:1px 1px 11px #333;
}
.single-movie .movie-poster {
    width:100%;
    height:220px;
    margin-bottom:5px;
}

.single-movie .movie-title{
    font-size:1.2rem;
    width:100%;
}
.single-movie .movie-year{
    font-size:1.1rem;
    width:100%;
}