@media all and (max-width: 1199px) {

}
@media all and (max-width: 991px) {

}
@media all and (max-width: 768px) {

}
@media all and (max-width: 575px) {
    .search-bar {
        margin: 3px;
        padding:0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    .search-input{
        max-width:30%;
    }
    .sort-select, .btn {
        font-size:1rem;
        max-width: 25%;
    }

}